body {
  text-align: center;
  background-color: transparent;
  color:white;
}

html {
  background: url(../img/hal.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.answer{
  display: none;
}
