html {
  background: url(../img/hal.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  color: white;
  letter-spacing: .15em;
  text-align: center;
  text-shadow: 1px 1px #7E7B77;
  vertical-align: middle;
}

.centered {
  padding-top: 10%;
}

.userName {
  display: none;
}

.number {
  display: none;
}

.hello {
  display: none;
  letter-spacing: .15em;
}

.question {
  display: none;
}

.answer {
  display: none;
  letter-spacing: .15em;
}

.reverse {
  display: none;
}

.answerf {
  display: none;
}

.answerr {
  display: none;
}

.cursor {
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  border-right: .2em solid #7388AC;
  display: inline-block;
  letter-spacing: .15em;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from {
    max-width: 0
  }

  to {
    max-width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  50% {
    border-color: #7388AC;
  }
}
